<div class="tabs">
  <ul class="tab-buttons">
    <li class="tab-btn active" data-tab="description">Description</li>
    <li class="tab-btn" data-tab="specifications">Specifications</li>
    <li class="tab-btn" data-tab="reviews">Reviews</li>
  </ul>

  <div class="tab-content active" id="description">
    <p><!-- Vehicle description here --></p>
  </div>
  <div class="tab-content" id="specifications">
    <p><!-- Vehicle specifications here --></p>
  </div>
  <div class="tab-content" id="reviews">
    <p><!-- Vehicle reviews here --></p>
  </div>
</div>
