<h1>Welcome to CSE Motors!</h1>

<section class="showcase">
  <div class="showcase-text">
    <h2 class="highlight">DMC Delorean</h2>
    <ul>
      <li>3 Cup holders</li>
      <li>Superman doors</li>
      <li>Fuzzy dice!</li>
    </ul>
    <button class="cta">Own Today</button>
  </div>
  <img src="images/vehicles/delorean-copy.jpg" alt="DMC Delorean car" class="car-image">
</section>

<section class="columns">
  <div class="upgrades">
    <h2>Delorean Upgrades</h2>
    <div class="grid">
        <a href="#"><img src="/images/upgrades/flux-cap.png" alt="Flux Capacitor"><span>Flux Capacitor</span></a>
        <a href="#"><img src="/images/upgrades/flame.jpg" alt="Flame Decals"><span>Flame Decals</span></a>
        <a href="#"><img src="/images/upgrades/bumper_sticker.jpg" alt="Bumper Stickers"><span>Bumper Stickers</span></a>
        <a href="#"><img src="/images/upgrades/hub-cap.jpg" alt="Hub Caps"><span>Hub Caps</span></a>

    </div>
  </div>

  <div class="reviews">
    <h2>DMC Delorean Reviews</h2>
    <ul>
      <li>“So fast it’s almost like traveling in time.” (4/5)</li>
      <li>“Coolest ride on the road.” (4/5)</li>
      <li>“I’m feeling McFly!” (5/5)</li>
      <li>“The most futuristic ride of our day.” (4.5/5)</li>
      <li>“80’s livin and I love it!” (5/5)</li>
    </ul>
  </div>
</section>
