<main>
  <h1>Vehicle Classifications</h1>

  <% if (classificationList && classificationList.length > 0) { %>
    <ul class="classification-list">
      <% classificationList.forEach(classification => { %>
        <li>
          <a href="/inventory/type/<%= classification.classification_id %>">
            <%= classification.classification_name %>
          </a>
        </li>
      <% }) %>
    </ul>
  <% } else { %>
    <p>No classifications found.</p>
  <% } %>
</main>

<%- include('../partials/footer') %>
