<main>
  <h1>Inventory Management</h1>

  <% if (message) { %>
    <div class="flash-message"><%= message %></div>
  <% } %>

  <ul>
    <li><a href="/inv/add-classification">Add New Classification</a></li>
    <li><a href="/inv/add-inventory">Add New Inventory</a></li>
  </ul>
</main>

<%- include('../partials/footer') %>
